
<header></header>
<h2>Contacto</h2>

<hr>
<p>
    Name: <br/>
<input id="nombre" type="text" [(ngModel)]="nombre">
</p>
<p> Email<br>
<input id="nombre" type="text" [(ngModel)]="email">
</p>
<p> Problema <br>
<input id="nombre" type="text"  [(ngModel)]="asunto">
</p>
<p>Descripcion del Problema <br>
<textarea id="nombre" type="text"  [(ngModel)]="descripcion">
</p>
</textarea>
<h4>Nombre<p>{{nombre}}</p><br>
    Email : <p>{{email}}</p><br>
    Problema :<p> {{asunto}}</p><br>
    Descripcion del problema :<p> {{descripcion}}</p><br>
    
</h4>
<hr>
<footer></footer>